* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;

    background-color: var(--bg-primary);
    color: var(--text-primary);

    transition: background-color .2s, color .2s;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::before {
    content: "";

    position: fixed;

    inset: 0;

    background-image:
        linear-gradient(var(--grid-color) 1px, transparent 1px),
        linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);

    background-size: 48px 48px;

    pointer-events: none;

    z-index: -1;
}

html.preload *,
html.preload *::before,
html.preload *::after {
    transition: none !important;
}